<nav>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/login" routerLinkActive="active">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/addEmployee" routerLinkActive="active">Add Employee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/displayEmployee" routerLinkActive="active">Display Employee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="logout()" style="cursor:pointer">Logout</a>
    </li>
  </ul>     
</nav>
<div class="container" >
  <router-outlet (activate)="checkLoggedInUser">      
    </router-outlet>
</div>