<br><br><br><br>
<div class="row">    
<div class="col-4"></div>
<div class="col-4" >
    <h3>User Login</h3><br>
    <form [formGroup]="frm" (ngSubmit)="onPost()">
      <br>
        <div class="form-outline mb-4">
          <input type="username" formControlName="username"  class="form-control" placeholder="User Name"/>        
        </div>
        <div class="error" *ngIf="f['username'].invalid && (f['username'].dirty || f['username'].touched)">
          <span *ngIf="f['username'].errors?.['required']">
              User Name is required  
        </span>
        </div> 
         <div class="form-outline mb-4">
          <input type="password" name="password" formControlName="password"  class="form-control" placeholder="password"/>       
        </div>
        <div class="error" *ngIf="f['password'].invalid && (f['password'].dirty || f['password'].touched)">
          <span *ngIf="f['password'].errors?.['required']">
              password is required  
        </span>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="frm.invalid">Login</button> 
        <div class="" *ngIf="status">
          {{status.message}}
       </div>       
        <div class="text-center text-white">
          <p> <a routerLink="/signup" class="link">Not a member??? Signup Here!!!!</a></p>          
        </div>
      </form>
</div>
<div class="col-4"></div>
</div>


